* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292c35;
}

.container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  width: 35%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #3389d3;
  border-radius: 10px;
}

.app ul li {
  width: 170px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  color: #3389d3;
  font-size: 1.2rem;
  cursor: pointer;
}

.app h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  color: #3389d3;
  margin-bottom: 20px;
}
.app input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #3389d3;
  border-radius: 20px;
  outline: none;
  color: #3389d3;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.app button {
  width: 100%;
  padding: 10px 30px;
  border: 2px solid #3389d3;
  background-color: transparent;
  border-radius: 20px;
  color: #3389d3;
  cursor: pointer;
  text-align: center;
  transition: 0.8s ease;
}

.app button:hover {
  background-color: #3389d3;
  color: #292c35;
  transform: scale(1.1);
}

.container .content .app .done {
  text-decoration: line-through;
  list-style-type: "👊 ";
}

.info {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.info span {
  position: absolute;
  right: 12%;
  top: 15%;
  font-size: 18px;
  cursor: pointer;
}











/*
  overflow-wrap: break-word;
  list-style-type: "🤜 ";
  font-size: 1.3rem;
  font-weight: 500;
  margin: 20px 0;
  color: #3389d3;
  cursor: pointer;
  align-items: center; 
 */